/* style.css */

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto;src: url("Fonts/Roboto");
    font-family: Raleway;src: url("Fonts/Raleway");
}

.threebuttons{
    margin-bottom: 5%;
    background: #659DBD;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color: #00021d;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration:none;
    width: 33%;
    align-items: center;
}

.content{
    font-family: Raleway;
    position: relative;
    top: 1500px;
    margin-right: 20%;
    margin-left: 20%;
    color: white;
    text-align: center;

}

.midEntry{
    top: 300px;
    width: 100%;
    text-align: center;
    font-family: Raleway;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #f5f9ff;
}

.topnav {
    background-color: transparent;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #659DBD;
    color: white;
}

.img-backdrop{
    background: url("images/backdrop.png") fixed center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.button {
    background: #659DBD;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color: #000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    width: 100%;

}

.threebuttonPosition{
    position: relative;
    margin-left: auto;
    padding-bottom: 1%;
    margin-right: auto;
    top: 1px;
    width: fit-content;
    margin-bottom: 800px;
}

.buttonPosition{
    position: relative;
    margin-left: auto;
    padding-bottom: 1%;
    margin-right: auto;
    top: 325px;
    width: fit-content;
    margin-bottom: 10px;
}


.button:hover {
    background-color: #73b8da;
    transform: scale(1.05);
    color: white;
}


.HI\!{
    font-family: Raleway;
    font-size: 40px;
}

.bio{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}


.threebuttons:hover{
    background-color: #73b8da;
    transform: scale(1.05);
    color: white;
}

.grid{
    display: grid;
    margin: 9em;
    grid-template-columns: 30% 70%;
    grid-column-gap: 2em;
    grid-row-gap: 5em;

}

.grid > div{
    background: #eeeeee;
    padding: 1em;
}
.grid > div:nth-child(odd){
    background: #ddd;
}

.title{
    margin-top: 10em;
    text-align: center;
    color: white;
}

.grid2 {
    display: grid;
    margin: 9em;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2em;
    grid-row-gap: 5em;
}

.grid2 > div{
    align-items: center;
    text-align: center;
    background: #575757;
    padding: 1em;

}

.grid2 > div:hover{
    background: #797979;
}

.skillTitle{
    position: relative;
    size: 20px;
    color: #eeeeee;
    padding-top: 70%;
    font-weight: bold;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgba(204, 204, 204, 0.33); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #659DBD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #73b8da;
    color: white;
}

input[type=submit]:active{
    background-color: green;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
